<div class="list-group">
    <a href="/Shop/Index?category=Electronics" class="list-group-item list-group-item-action">Electronics</a>
    <a href="/Shop/Index?category=Fashion" class="list-group-item list-group-item-action">Fashion</a>
    <a href="/Shop/Index?category=Home" class="list-group-item list-group-item-action">Home</a>
    <a href="/Shop/Index?category=Books" class="list-group-item list-group-item-action">Books</a>
</div>
